---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Quiz from '../components/Quiz.astro';
import Social from '../components/Social.astro';
import huepc from '../images/huepc22.webp';
import huell from '../images/huell.webp';
import paper from '../images/paper.webp';
import * as introText from '../content/shorts/01-intro.md';
import * as locationText from '../content/shorts/02-location.md';
import * as actionText from '../content/shorts/03-call-to-action.md';
import * as mainInfo from '../content/main-infos.md';
---
<Layout title="H체llerPolitCamp">
	<main>
		<Hero />
		<section class="container">
			<div class="row">
				<div class="col-md-4 mb-4">
					<h3 class="text-uppercase fw-bold fs-5">Datum</h3>
					<span class="fs-5">{mainInfo.frontmatter.start_date} <br>bis {mainInfo.frontmatter.end_date}</span>
				</div>
				<div class="col-md-4 mb-4">
					<h3 class="text-uppercase fw-bold fs-5">Ort</h3>
					<span class="fs-5">{mainInfo.frontmatter.location}</span>
				</div>
				<div class="col-md-4 mb-4">
					<h3 class="text-uppercase fw-bold fs-5">Preis</h3>
					<span class="fs-5">{mainInfo.frontmatter.price}</span>
				</div>
			</div>
		</section>
		<section>
			<div class="container mt-5">
				<div class="row align-items-center reverse">
					<div class="col-md-4 mb-4">
						<Image src={huepc} class="mw-100 margin margin-right margin-left object-fit" width="700px" height="467px" alt="Eine Gruppe von Menschen sitzt unter einem Baum in Klappst체hlen." />
					</div>
					<div class="col-md-8 pb-4">
						<h2 class="text-primary">{introText.frontmatter.title}</h2>
						<p set:html={introText.compiledContent()} />
						<a href="/infos/" class="btn btn-secondary">Alles Organisatorische</a>
					</div>
				</div>
			</div>
			<div class="container my-4">
				<div class="row align-items-center">
					<div class="col-md-5">
						<Image src={huell} aria-hidden="true" class="mw-100 margin margin-right" alt="Zwei alte Fachwerkh채user mit Reetdach, hinter einer Weide." />
					</div>
					<div class="col-md-7 p-4">
						<h2 class="text-primary">{locationText.frontmatter.title}</h2>
						<p set:html={locationText.compiledContent()} />
						<a href="/vor-ort/" class="btn btn-secondary">Alles zur Unterbringung und Anreise</a>
					</div>
				</div>
			</div>
			<div class="container my-4">
				<div class="row align-items-center">
					<div class="col-md-8 mb-4">
						<h2 class="text-primary">{actionText.frontmatter.title}</h2>
						<p set:html={actionText.compiledContent()} />
						<button class="btn btn-primary">Anmelden</button>
					</div>
					<div class="col-md-4">
						<Image src={paper} class="mw-100 margin margin-right margin-left" alt="Blick 체ber die Schulter einer Person, welche auf dem Rasen liegt und auf einem Blatt Papier Notizen zum Thema 'Polarisierung' verfasst." />
					</div>
				</div>
			</div>
		</section>
		<Social />
	</main>
</Layout>
<style lang="scss">
.object-fit {
	object-fit: contain;
}

@include media-breakpoint-up(sm) {
	.reverse {
		display: flex;
		flex-direction: row-reverse;
	}
}

@include media-breakpoint-up(lg) {
	.margin {
		margin: 15px 0px;
	}

	.margin-left {
		margin-left: 30px;
	}

	.margin-right {
		margin-right: 30px;
	}
}
</style>